<%{ var hours = "";
    var minutes = "";

    if ( typeof(flight.Duration) == 'string') {
        hours = flight.Duration.split(':')[0]; 
        minutes = flight.Duration.split(':')[1]; 
    } else {
        hours = flight.Duration.getUTCHours(); 
        minutes = flight.Duration.getMinutes();     
    }
        
    var departTime = new Date(flight.DepartureTime);
    var arriveTime = new Date(flight.ArrivalTime); }%>

<div class="card">
    <div class="card-header">
        <h5 class="card-title float-left">
            Departing <%= departTime.toLocaleDateString("en-US") %> <%= departTime.toLocaleTimeString() %> (Duration: <%= hours %> Hrs <%= minutes %> Mins) - Total Cost: $<%= flight.Cost.toFixed(2) %>
        </h5>
    <% if (ShowPurchase) { %>
        <label class="btn btn-primary input-group-btn float-right">
            <input type="radio" id="<%= SelectedFlightName %>" name="<%= SelectedFlightName %>" value="<%= flight.Id %>" <% if (flight.Selected == true ){ %> checked="checked" <% } %> > Purchase
        </label>
    <% } %>
    </div>
    <div class="card-body">
        <h5 class="card-title">Departing: <%= flight.DepartingFromAirport.AirportName %> (<%= flight.DepartingFrom %>) - <%= departTime.toLocaleDateString("en-US") %> <%= departTime.toLocaleTimeString() %> <%= flight.DepartingFromAirport.TimeZone %></h5>
        <h5 class="card-title">Arriving: <%= flight.ArrivingAtAirport.AirportName %> (<%= flight.ArrivingAt %>) - <%= arriveTime.toLocaleDateString("en-US") %> <%= arriveTime.toLocaleTimeString() %> <%= flight.ArrivingAtAirport.TimeZone %></h5>
    </div>
</div>

